body, html {
    height: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./images/background.jpg");
     background-repeat: no-repeat;
     background-size: cover;     
  }

  .site-content {
    position: fixed;
    z-index: 1;
    overflow: auto;
    height: 1000px;
   /* margin-top: 60px;*/
  }

/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
    box-sizing: border-box;
}
 

nav {
    background-color: #343032;
    width: 100%;  /* i'm assuming full width */
    height: 60px; /* change it to desired width */
    padding: 5px;
    margin: 0 auto;
    display: flex;
    position:fixed;
    z-index: 2;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    color: white;
  }
/* Navbar links */
    nav a {
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: bold;
    height: 60px;
    padding: 20px 0;
  }

    /* Navbar links on mouse-over */
.nav a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #915b0a;
}

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 60px;

  }
  
  nav ul li {
    margin-left: 1px; 
    margin-right: 1px;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    
  }

  .logoClass {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr;
    column-gap: 10px;
   }

  #logo { 
    display: inline-block;
    vertical-align: left;
    /*width: 40px;*/
    height: 40px;
}

#siteName {
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 30px;
}

.search-container {
    background-color: #FFF;
    position: relative;
    border-radius: 30px;
    padding: 3px 15px 3px 10px;
    vertical-align: middle;
    text-align: center;
    display: grid;
    align-items: center; 
    grid-template-columns: 300px 30px 1fr 1fr;
    column-gap: 10px;
  }

.search-container-inactive {
    visibility: hidden;
    background-color: #FFF;
    position: relative;
    border-radius: 30px;
    padding: 3px 15px 3px 10px;
    vertical-align: middle;
    text-align: center;
    display: grid;
    align-items: center; 
    grid-template-columns: 300px 30px 1fr 1fr;
    column-gap: 10px;
}

  .search-box {
    background-color: transparent;
    outline: none;
    height: 40px;
    font-size: 15px;
    color: #915b0a;
    border: none;
    width: 300px;
    padding: 5px;
  }
  .search-button {
    padding: 7px 15px;
    background-color: #915b0a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  #searchIcon { 
    width: 30px;
    height: 30px;
    justify-self: center;
    align-self: center;
    
}

/*social media bar*/

.social-sidebar {
    position: fixed;
    top: 65%;
    left: 20px;
    transform: translateY(-50%);
}

.social-sidebar a {
    /*border-radius: 50%;
    margin: 15px;*/

    display: block;
    text-align: center;
    padding: 8px;
    transition: all 0.5s ease;
    color: white;
    font-size: 20px;
    text-decoration: none;
}


.social-sidebar a:hover {
     color: #000;
    width: 50px;
}

/* .social-sidebar-icon {
    color: #a3a3a3;
    background: transparent;
    padding: 0;
}*/



/* Style all font awesome icons */
.fa {
  display: flex !important;
  padding: 5px;
  font-size: 30px !important;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none !important;
  align-items: center;
  justify-content: center;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* youtube */
.fa-youtube {  
  background: none;
  color: white;
}

/* instagram */
.fa-instagram {  
    background: none;
    color: white;
  }

  /* facebook */
.fa-facebook {  
    background: none;
    color: white;
  }

  /* twitter */
.fa-twitter {  
    background: none;
    color: white;
  }

  /*headline and caption*/

.static-info-pane {
    position: fixed;
    top: 50%;
    left: 150px;
    transform: translateY(-50%);
    align-items: center;
    color: white;
}

.static-info-pane-about {
    position: fixed;
    top: 60px;
    left: 150px;
   /* transform: translateY(-50%);*/
    align-items: center;
    color: white;
    overflow: auto;

}

  #headLine {
    font-family: 'Lato';
    font-style: bold;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 1px;  
    margin:40px;
}

  #headLineSmall {
    font-family: 'Lato';
    font-style: bold;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 1px;  
    margin:40px;
}

#subHeading {
    font-family: 'Open Sans';
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 45px;
    margin: 40px;
}

#normalParagraph {
    font-family: 'Roboto';
    font-size: 20px;
    letter-spacing: 1.4px;
    line-height: 30px;
   /* margin: 40px; */
}    


/*About us page styling */

.backgroundDiv {
    background-color: rgba(52,48,50,0.6);
   /* opacity: 0.6;*/
    padding: 40px 20px;
    margin:40px;
}

#teamDiv {
    display: inline-block;
}

.button {
    padding: 7px 15px;
    background-color: #915b0a;
    color: white;
    border: white;
    cursor: pointer;
    border-radius: 40px;
    outline: 0;
    display: inline-block;
    color: white;
    text-align: center;
    width: 100%;
  }

  .button:hover {
    background-color: #555;
  }

  .image-cropper {
    width: 180px;
  height: 180px;
  position: relative;
  align-self: center;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px;
  }

  .team-image {
    display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
  object-fit: cover;
  }

  /* Three columns side by side */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    align-items: center;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
        background-color: rgba(52,48,50,0.63);

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    display: flex !important;
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
    align-items: center;
    justify-content: center;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  /* Form Styling */
  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  font-size: 15px;
  border: 1px solid white; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.form-container {
  border-radius: 5px;
  padding: 20px;
}

  
