body, html {
    height: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./images/background.jpg");
     background-repeat: no-repeat;
     background-size: cover;
  }


/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
    box-sizing: border-box;
}
 

nav {
    background-color: #343032;
    width: 100%;  /* i'm assuming full width */
    height: 60px; /* change it to desired width */
    padding: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    color: white;
  }
/* Navbar links */
    nav a {
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: bold;
    height: 60px;
    padding: 20px 0;
  }

    /* Navbar links on mouse-over */
.nav a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #915b0a;
}

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 60px;

  }
  
  nav ul li {
    margin-left: 1px; 
    margin-right: 1px;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    
  }

  .logoClass {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr;
    column-gap: 10px;
   }

  #logo { 
    display: inline-block;
    vertical-align: left;
    /*width: 40px;*/
    height: 40px;
}

#siteName {
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 30px;
}

.search-container {
    background-color: #FFF;
    position: relative;
    border-radius: 30px;
    padding: 3px 15px 3px 10px;
    vertical-align: middle;
    text-align: center;
    display: grid;
    align-items: center; 
    grid-template-columns: 300px 30px 1fr 1fr;
    column-gap: 10px;
  }
  .search-box {
    background-color: transparent;
    outline: none;
    height: 40px;
    font-size: 15px;
    color: #915b0a;
    border: none;
    width: 300px;
    padding: 5px;
  }
  .search-button {
    padding: 7px 15px;
    background-color: #915b0a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  #searchIcon { 
    width: 30px;
    height: 30px;
    justify-self: center;
    align-self: center;
    
}

/*social media bar*/

.social-sidebar {
    position: fixed;
    top: 75%;
    left: 20px;
    transform: translateY(-50%);
}

.social-sidebar a {
    /*border-radius: 50%;
    margin: 15px;*/

    display: block;
    text-align: center;
    padding: 8px;
    transition: all 0.5s ease;
    color: white;
    font-size: 20px;
}


.social-sidebar a:hover {
     color: #000;
    width: 50px;
}

/* .social-sidebar-icon {
    color: #a3a3a3;
    background: transparent;
    padding: 0;
}*/



/* Style all font awesome icons */
.fa {
   display: flex !important;
  padding: 5px;
  font-size: 40px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* youtube */
.fa-youtube {  
  background: none;
  color: white;
}

/* instagram */
.fa-instagram {  
    background: none;
    color: white;
  }

  /* facebook */
.fa-facebook {  
    background: none;
    color: white;
  }

  /* twitter */
.fa-twitter {  
    background: none;
    color: white;
  }

  /*headline and caption*/
.static-info-pane {
    position: fixed;
    top: 60%;
    left: 150px;
    transform: translateY(-50%);
    align-items: center;
    color: white;
}

  #headLine {
    font-family: 'Lato';
    font-style: bold;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 1px;  
    margin:40px;
}

#subHeading {
    font-family: 'Open Sans';
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 50px;
    margin: 40px;
}